<!DOCTYPE html>
<html ng-app="store">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>

  <title>Welcome to our Gem Store</title>

</head>

<body ng-controller="StoreController as store">

  <div class="container">

    <div class="row">
      <h1>This is what we sell</h1>
    </div>

    <div class="row products">

      <div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="product in store.products" ng-hide="product.soldOut">

        <div class="thumbnail">
          <img ng-src="{{store.products[2].images[0].full}}" alt="" />
          <div class="caption">
            <h2>{{product.name}}</h1>
            <h3>{{product.price | currency}}</h2>

              <section ng-init="tab = 1">
                <ul class="nav nav-pills">
                  <!-- adds a class .active if expression evaluates to true -->
                  <li ng-class="{active: tab === 1}">
                    <a href="#" ng-click="tab = 1">Description</a>
                  </li>
                  <li ng-class="{active: tab === 2}"><a href="#" ng-click="tab = 2">Specifications</a></li>
                  <li ng-class="{active: tab === 3}"><a href="#" ng-click="tab = 3">Reviews</a></li>
                </ul>
                <div class="panel" ng-show="tab === 1">
                  <h4>Description</h4>
                  <p>
                    {{product.description}}
                  </p>
                </div>
                <div class="panel" ng-show="tab === 2">
                  <h4>Specifications</h4>
                  <p>
                    {{product.description}}
                  </p>
                </div>
                <div class="panel" ng-show="tab === 3">
                  <h4>Reviews</h4>
                  <p>
                    {{product.description}}
                  </p>
                </div>
              </section>

            <button type="button" name="button" class="btn btn-primary" ng-show="product.canPurchase">Add to cart</button>
          </div>
        </div>
      </div>

    </div>


</body>

</html>
